* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #222;
}

.hero {
    width: 90%;
    max-width: 1200px;
    margin: 90px auto 70px;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 25px;
    font-weight: 700;
    justify-self: center;
}

.hero p {
    max-width: 800px;
    margin: auto;
    font-size: 20px;
    line-height: 1.7;
    color: #666;
}

.mission {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 100px;
    padding: 50px;
    background: #f7faf7;
    border-radius: 25px;
    text-align: center;
}

.mission h2 {
    color: #17753c;
    font-size: 38px;
    margin-bottom: 20px;
}

.mission p {
    max-width: 800px;
    margin: auto;
    color: #555;
    font-size: 20px;
    line-height: 1.7;
}

.story {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.section-title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

.story-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.story-card {
    background: white;
    padding: 35px;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.story-card:hover {
    transform: translateY(-5px);
}

.story-card h3 {
    color: #17753c;
    font-size: 27px;
    margin-bottom: 15px;
}

.story-card p {
    color: #666;
    line-height: 1.7;
    font-size: 16px;
}

.vision {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
}

.vision-card {
    width: 100%;
    background: #17753c;
    color: white;
    padding: 60px;
    border-radius: 30px;
    text-align: center;
}

.vision-card h2 {
    max-width: 900px;
    margin: 0 auto 20px;
    font-size: 40px;
    line-height: 1.2;
}

.vision-card p {
    max-width: 800px;
    margin: auto;
    font-size: 20px;
    line-height: 1.7;
}

.cta {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    margin: 100px auto;
}

.cta h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.cta p {
    color: #666;
    font-size: 18px;
    justify-self: center;
}

.cta button {
    margin-top: 30px;
    padding: 16px 40px;
    border: none;
    border-radius: 15px;
    background: #17753c;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.cta button:hover {
    background: #125c30;
}

@media (max-width: 900px) {
    .hero h1 {
        font-size: 42px;
    }

    .story-grid {
        grid-template-columns: 1fr;
    }

    .mission {
        padding: 30px;
    }
}